/* Gallery Section */
#gallery {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}
